{%extends 'base.html'%}
{% load static %}



{% block content %}
	<!-- Main Start -->
	<div class="main-section"> 
		<!--Main Banner-->
		<div class="page-section" style="background: url({% static 'assets/extra-images/full-section-img.jpg' %})no-repeat; background-size:cover; padding:206px 0 80px; text-shadow: 3px 4px 6px rgba(0,0,0,.37);margin-top:-30px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="image-frame defualt" style="padding-top:40px;">
							<div class="cs-media">
								<figure> <img src="{% static 'assets/extra-images/image-frame-1.png'%}" alt=""/> </figure>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="cs-column-text"> <span class="cs-bgcolor" style="color:#fff; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px;">More refined interior</span>
							<h1 style="color:#fff !important; font-size:50px !important; line-height:53px !important; text-shadow: 3px 4px 6px rgba(0,0,0,.37);">SAY HELLO
								TO NEW KIND 
								OF yum DRIVING 
								PLEASURE.</h1>
							<a href="#" class="cs-button" style="color:#fff;width:80px; height:80px; border-radius:50%; line-height:17px; text-align:center; padding-top:20px; letter-spacing:1px; font-weight:bold; vertical-align:middle; text-shadow: 3px 4px 6px rgba(0,0,0,.37); ">Starts From</a> <strong style=" vertical-align:middle; font-size:50px; color:#fff; text-shadow: 3px 4px 6px rgba(0,0,0,.37);"><em style="font-style:normal; font-size:30px; vertical-align:top; line-height:0;">KSH</em>505,897</strong> </div>
					</div>
				</div>
			</div>
		</div>
		<!--Main Banner--> 
		<!--Main Banner form-->
		<div class="page-section" style="background: rgba(36, 41, 49, 1); padding-top:33px;-webkit-box-shadow: 0 0 5px rgba(0,0,0,.4), inset 1px 2px rgba(255,255,255,.3);-moz-box-shadow: 0 0 5px rgba(0,0,0,.4), inset 1px 2px rgba(255,255,255,.3);box-shadow: 0 0 5px rgba(0,0,0,.4), inset 0px 2px rgba(255,255,255,.3);border: solid 1px #242931;margin-bottom:110px;">
			<div class="container">
				<div class="row">
					<div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row"> 
							<!--Element Section Start-->
							<div class="main-search">
								<form>
									<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
										<div class="search-input"> <i class="icon-search2"></i>
											<input type="text" placeholder="Search by Keyword" />
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
										<div class="select-dropdown">
											<select class="chosen-select">
												<option value="" selected="selected">Select Make</option>
												<option value="Alfa Romeo">Alfa Romeo</option>
												<option value="Alpine">Alpine</option>
												<option value="Aston Martin">Aston Martin</option>
												<option value="Audi">Audi</option>
												<option value="Bently">Bently</option>
												<option value="BMW">BMW</option>
												<option value="Bugatti">Bugatti</option>
												<option value="Ferrari">Ferrari</option>
												<option value="Fiat">Fiat</option>
												<option value="Lamborghini">Lamborghini</option>
												<option value="Lancia">Lancia</option>
												<option value="Land Rover">Land Rover</option>
												<option value="Maserati">Maserati</option>
												<option value="McLaren">McLaren</option>
												<option value="Mercedes-Benz">Mercedes-Benz</option>
												<option value="Mini">Mini</option>
												<option value="Opel">Opel</option>
												<option value="Peugeot">Peugeot</option>
												<option value="Porsche">Porsche</option>
												<option value="Renault">Renault</option>
												<option value="Rolls-Royce">Rolls-Royce</option>
												<option value="Vauxhall">Vauxhall</option>
												<option value="Volkswagen">Volkswagen</option>
											</select>
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
										<div class="select-dropdown">
											<select  class="chosen-select">
												<option selected="selected">Select Type</option>
												<option value="Vehicles">Vehicles</option>
												<option value="Motors">Motors</option>
												<option value="Cars and Races">Cars and Races</option>
											</select>
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"> 
										<!--    <div class="select-location">
                                    <input type="text" placeholder="Select Location" />
                                    <a href="#"><i class="icon-hair-cross"></i></a>
                                </div>-->
										<div class="select-location">
											<div class="select-location" id="cs-top-select-holder">
												<div class="cs_searchbox_div">
													<input type="text" name="cs_" class="form-control cs_search_location_field" placeholder="All Locations" autocomplete="off">
													<input type="hidden" value="" name="location" class="search_keyword">
													<div class="cs_location_autocomplete" style="width: 260px; left: 1042.5px; top: 751px; display: none;"></div>
												</div>
												<a class="location-btn pop" href="javascript:void(0);" id="popup"><i class="icon-target3"></i></a>
												<div class="select-popup" id="popup1"> <a id="cs_close" class="cs-location-close-popup"><i class="cs-color icon-times"></i></a>
													<p>Show With in</p>
													<div class="slider slider-horizontal">
														<div class="slider-track">
															<div class="slider-track-low" style="left: 0px; width: 0%;"></div>
															<div class="slider-selection" style="left: 0%; width: 100%;"></div>
															<div class="slider-track-high" style="right: 0px; width: 0%;"></div>
															<div class="slider-handle min-slider-handle round" style="left: 100%;" tabindex="0"></div>
															<div class="slider-handle max-slider-handle round hide" style="left: 0%;" tabindex="0"></div>
														</div>
														<div class="tooltip tooltip-main top" style="left: 100%; margin-left: 0px;">
															<div class="tooltip-arrow"></div>
															<div class="tooltip-inner">500</div>
														</div>
														<div class="tooltip tooltip-min top" style="display: none;">
															<div class="tooltip-arrow"></div>
															<div class="tooltip-inner"></div>
														</div>
														<div class="tooltip tooltip-max top" style="display: none;">
															<div class="tooltip-arrow"></div>
															<div class="tooltip-inner"></div>
														</div>
													</div>
													<input type="text" data-slider-value="200" data-slider-step="20" data-slider-max="500" data-slider-min="0" name="radius" id="ex6392375604" style="display: none;" data-value="500" value="500">
													<span id="ex6CurrentSliderValLabel_job"><span id="ex6SliderVal392375604">500</span>Miles</span>
													<p class="my-location">of <i class="cs-color icon-location-arrow"></i><a onClick="cs_get_location(this)" class="cs-color">My location</a></p>
												</div>
											</div>
											<input type="text" name="cs_" class="cs-geo-location form-control txt-field geo-search-location" style="display:none;" onChange="this.form.submit()">
											<div style="display:none;" class="cs-undo-select"> <i class="icon-times"></i> </div>
										</div>
									</div>
									<div class="col-lg-1 col-md-1 col-sm-3 col-xs-12">
										<div class="search-btn">
											<input type="button" value="submit" class="cs-bgcolor">
											<label><a href="#">ADVANCE SEARCH</a></label>
										</div>
									</div>
								</form>
							</div>
							<!--Element Section End--> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Main Banner form--> 
		<!--image frame with cloum text by My Shahzad-->
		<div class="page-section" style="margin-bottom:110px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="image-frame defualt">
							<div class="cs-media">
								<figure> <img src="{% static 'assets/extra-images/image-frame.jpg'%}" alt=""/> </figure>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="cs-column-text"> <span class="cs-color" style="font-size:14px;margin-bottom:15px;text-transform: capitalize !important; font-weight:bold;">ADAPTIVE DRIVE HEAD uP DISPLAY</span>
							<h1 style=" line-height:43px !important;">Matte Black Chevy C7 Corvette 
								Stingray on Custom 21in Forgiato 
								Quinto Wheels.</h1>
							<p style="margin-bottom:25px; ">Arear view camera and lane departure warning. This car has 6 airbags fitted for your protection. It has front &amp; rear power windows, central locking and 2nd row split folding seats. Family life is made easy in this 2016 Jaguar XF. This car has Bluetooth connectivity, side curtain airbags, subwoofer, trailer sway control, sports pedals and heads up information display. This car has forward collision alert/warning. This car comes with enough seats for 5. You can relax.</p>
							<a href="#" class="cs-button" style="color:#fff;font-size:11px; padding:12px 45px; font-weight:bold; text-transform:uppercase;">Kim Broders</a> </div>
					</div>
				</div>
			</div>
		</div>
		<!--image frame with cloum text by My Shahzad--> 
		<!--full width category section-->
		<!--full width category section--> 
		<!--tabs section-->
		<div class="page-section" style="padding-top:70px; padding-bottom:65px;">
			<div class="container">
				<div class="row">
					<div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 co-sm-12 col-xs-12"><!--Element Section Start-->
								<div class="cs-section-title">
									<h3 style="text-transform:uppercase !important;">Perfect Cars for you</h3>
									<p style="text-transform:uppercase;font-size:11px;color:#999999 !important;">It will help us find the Toyota you're looking for in your area.</p>
								</div>
								<!--Tabs Start-->
								
								<div class="cs-tabs full-width">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home">New Cars</a></li>
										<li><a data-toggle="tab" href="#menu1">Used Cars</a></li>
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane fade in active">
											<div class="row">
												{% for car in new_cars%}
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="auto-listing auto-grid">
														<div class="cs-media">
															<figure> <img src="{{ car.image_main.url }}" alt="#"/>
																<figcaption> <span class="auto-featured">Featured</span> </figcaption>
															</figure>
														</div>
														<div class="auto-text"> <span class="cs-categories"><a href="#">{{car.category}}</a></span>
															<div class="post-title">
																<h6><a href="#">{{car.brand}}</a></h6>
																<div class="auto-price"><span class="cs-color">${{car.price}}</span></div>
															</div>
															<i class="icon-car228 cs-color" style="font-size:20px"> </i>{{car.transmission}}
															<br>
															Year: {{car.year}}
															<a href="#" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a> </div>
													</div>
												</div>
												{%endfor%}
											</div>
										</div>
										<div id="menu1" class="tab-pane fade">
											<div class="row">
												{% for car in used_cars%}
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="auto-listing auto-grid">
														<div class="cs-media">
															<figure> <img src="{{ car.image_main.url }}" alt="#"/></figure>
														</div>
														<div class="auto-text"> <span class="cs-categories"><a href="#">{{car.category}}</a></span>
															<div class="post-title">
																<h6><a href="#">{{car.brand}}</a></h6>
																<div class="auto-price"><span class="cs-color">${{car.price}}</span></div>
																<i class="icon-car228 cs-color" style="font-size:20px"> </i>{{car.transmission}}
															<br>
															Year: {{car.year}}
															</div>
															<a href="#" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a> </div>
													</div>
												</div>
												{%endfor%}
											</div>
										</div>
									</div>
								</div>
								<!--Tabs End--> 
								<!--Element Section End--></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--tabs section--> 
		<!--Latest Model Auto Slider Start-->
		<div class="page-section" style="background: rgba(237, 240, 245, 1); padding-top:70px; padding-bottom:70px;">
			<div class="container">
				<div class="row">
					<div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row"> 
							<!--Element Section Start-->
							<div class="cs-auto-listing cs-auto-box">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="cs-element-title">
										<h2>Our Latest Car Models</h2>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<ul class="cs-auto-box-slider row">
										{% for car in latest_cars %}
										<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="cs-media"> <span class="featured"></span>
												<figure> <a href="#"> <img src="{{car.image_main.url}}" alt=""/> </a>
													<figcaption> </figcaption>
												</figure>
											</div>
											{{car.brand}}
											<br>
											Category:{{car.category}}
											<div class="auto-text cs-bgcolor"> <span>${{car.price}}</span><a href="#" class="cs-button pull-right"><i class="icon-arrow_forward
"></i></a> </div>
										</li>
										{%endfor%}
									</ul>
								</div>
							</div>
							<!--Element Section End--> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Latest Model Auto Slider End-->

		<div class="page-section" style="margin-bottom:70px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="section-title" style="text-align:center; color:#333333; margin-bottom:45px;">
							<h3 style="margin-bottom:5px;">WHY CHOOSE US</h3>
							<p>It will help us find the Toyota you're looking for in your area.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-fuel1 cs-color" style="font-size:70px;"> </i> </div>
							<div class="cs-text">
								<h6>OIL CHANGES </h6>
								<p>Vivamus erat diam, condimentum in aliquet sed, bibendum at quam. Phasellus lacus mauris.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-car230 cs-color" style="font-size:40px"> </i> </div>
							<div class="cs-text">
								<h6>AIR CONDITIONING</h6>
								<p>Nulla a gravida purus. Fusce at interdum libero, at. Vivamus erat diam, condimentum in bibendum                                            at quam.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-energy42 cs-color" style="font-size:40px"> </i> </div>
							<div class="cs-text">
								<h6>AUTO ELECTRIC </h6>
								<p>Etiam et maximus nisi, nec scelerisque neque. Nunc euismod iaculis urna, id eleifend lorem                                             aliquet at. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-car36 cs-color" style="font-size:40px"> </i> </div>
							<div class="cs-text">
								<h6>BRAKE SERVICE </h6>
								<p>Vivamus erat diam, condimentum in aliquet sed, bibendum at quam. Phasellus lacus mauris.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-car228 cs-color" style="font-size:40px"> </i> </div>
							<div class="cs-text">
								<h6>TRANSMISSION</h6>
								<p>Nulla a gravida purus. Fusce at interdum libero, at. Vivamus erat diam, condimentum in bibendum                                            at quam.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-transport177 cs-color" style="font-size:40px"> </i> </div>
							<div class="cs-text">
								<h6>TIRE &amp; WHEEL SERVICE</h6>
								<p>Etiam et maximus nisi, nec scelerisque neque. Nunc euismod iaculis urna, id eleifend lorem                                              aliquet at. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main End -->
	<div class="container">

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63819.90122999492!2d36.654380223603354!3d-1.329758292147602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1c9f26ac0519%3A0x27e09cffb4d4bbe!2sKaren%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1610351784749!5m2!1sen!2ske" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

	</div> 
	 
</div>


{% endblock content %}